

/***** BASE STYLES *****/

body {
    font-family: 'source sans pro', sans-serif;
    color: #2b2b2b;
}

/***** GRID *****/

.full-width {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

.half-width {
    width: 600px;
    float: left;
}

.third-width {
    width: 400px;
    float: left;
}

/*****HEADER*****/

.home-header {
    height: 800px;
    background-image: url('../img/full-background.png');
    background-size: cover;
    background-position: center;
}
.home-header h1 { 
    padding: 65px 0 65px 25px;
    font-family:'Lora', serif;
    font-size: 30px;
    color: #bbc085;

}
.home-header nav {
    float: right; 
    padding: 75px 25px;
}
.home-header ul li{
    display: inline-block;
}
.home-header ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font: Source Sans Pro;
    font-size: 18px;
    color: #828282;
    padding-left: 80px; 
}

.home-header h2 {
    width: 1000px;
    clear: both;
    font-family: 'Lora', serif; 
    font-size: 72px;
    line-height: 80px;
    color: #9b9b9b;
    padding: 20px 0 20px 25px;
}
.home-header h2 span {
    color: #2b2b2b;
}



/***** ABOUT *****/

#about .full-width {
    padding: 80px 0;
}

#about h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    padding-left: 50px;
}

#about p {
    font-size: 21px;
    color: #7f7f7f;
    line-height: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

/*****WORK*****/

#work {
    background-color: #F9CEB7;
    text-align: center;
}

#work  .full-width {
    padding: 115px 0;

}

#work img {
    padding-bottom: 30px;
}

#work h3 {
    font-size: 24px;
    line-height: 32px;
    width:190px;
    margin: 0 auto;
}
 
#work p {
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 30px;
    padding: 0 50px;

}/*****contact*****/

#contact {
    background-color: #EBEBEB ;
}

#contact .full-width {
    padding: 110px 0;
}

#contact img#contact-img {
    margin-left: 25px;
    border: 12px solid #ffffff;
}

#contact h2, #contact #email-header, #contact #socialmedia-header, #contact ul {
    padding-left: 115px;
}
#contact #envelope {
    padding: 0 10px 0 115px;
}
#contact h2 {
    font-family: 'Lora', serif;
    font-size: 36px;
    line-height: 44px;
}
#contact #email-header{
    font-family: 'Source Sans Pro';
    font-size: 32px;
    font-weight: normal;
    line-height: 44px;
    margin: -30px 0 5px 0;
}
#contact #socialmedia-header {
    font-family: Source Sans Pro;
    font-weight: bold;
    font-size: 29px;
    line-height: 44px;
    margin: 40px 0 0 0;
}
#contact a {
    text-decoration: none;
    color: #c49075;
    font-weight: bold;
    font-size: 28px;
}
#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
}
#contact ul img {
    padding-right: 48px;

}

/************************ABOUT PAGE***************************/

.about-header {
    height: 600px;
    background-color: #EBEBEB;
    background-size: cover;
    background-position: center;
}
.about-header h1 { 
    padding: 65px 0 65px 25px;
    font-family:'Lora', serif;
    font-size: 30px;
    color: #bbc085;

}
.about-header nav {
    float: right; 
    padding: 75px 25px;
}
.about-header ul li{
    display: inline-block;
}
.about-header ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font: Source Sans Pro;
    font-size: 18px;
    color: #828282;
    padding-left: 80px; 
}

.about-header h2 {

    color: #9b9b9b;
    font-family: 'Lora', serif;
    font-size: 72px;
    
}
.about-header h2 span {
    color: #2b2b2b;
   
}

.about-body {
    height: 600px;
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
}

.about-body p {
    font-size: 21px;
    color: #7f7f7f;
    line-height: 40px;
    margin-top: 50px;

}

#p2 {
    font-size: 21px;
    color: #7f7f7f;
    line-height: 40px;
    margin-top: 0px;
}

.about-body img {
    float: right; 
    margin-bottom: 60px;
    padding-bottom: 50px;
    height: 300px;
    width: 241px;

}

.about-body a {
    color: #000000;
    text-decoration: none;
}

.about-footer{
    height: 600px;
    background-color: #F9CEB7;
    background-size: cover;
    background-position: center;

}

.about-footer ul li {
    display: inline-block;
    text-align: right;
    float: right;
    padding: 20px;
}

#twitterid {
    padding-right: 0px;

}

/*******************CONTACT PAGE*******************/

.contact-header {
    height: 600px;
    background-color: #EBEBEB;
    background-size: cover;
    background-position: center;
}
.contact-header h1 { 
    padding: 65px 0 65px 25px;
    font-family:'Lora', serif;
    font-size: 30px;
    color: #bbc085;

}
.contact-header nav {
    float: right; 
    padding: 75px 25px;
}
.contact-header ul li{
    display: inline-block;
}
.contact-header ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font: Source Sans Pro;
    font-size: 18px;
    color: #828282;
    padding-left: 80px; 
}

.contact-header h2 {

    color: #9b9b9b;
    font-family: 'Lora', serif;
    font-size: 36px;
    
}
.contact-header h2 span {
    color: #2b2b2b;
   
}

.contact-body {
    height: 600px;
    background-color: whitesmoke;
    background-size: cover;
    background-position: center;
}



.contact-body a {
    color: #000000;
    text-decoration: none;
}

.contact-footer {
    height: 600px;
    background-color: #F9CEB7;
    background-size: cover;
    background-position: center;

}

.contact-footer ul li {
    display: inline-block;
    text-align: right;
    float: right;
    padding: 20px;
}

#twitter-id {
    padding-left: 0px;
}

#ul-id {
    padding-left: 0px;
}

#contact-id  {
    text-decoration: none;
    color: #c49075;
    font-weight: bold;
    font-size: 28px;


